/* CSS Reservia pour tablette */

@media (min-width: 668px) and (max-width: 1278px)
{
/* CSS général */
    .marge
	{	margin:5%;}
	body
	{
		margin: auto;
	}

/* Section Header */

.largeurespace
{
    width:20%;
}

	

/* Section filtres */

	.list_group .fas
	{
   		background-color: #DEEBFF;
   		color: #0065FC;
   	}

	.list_group li:hover
	{
		background: #DEEBFF;
		color: #0065FC;
	}

	.list_group .fas:hover
	{
		color: black;
	}



/* HEBERGEMENTS ET POPULAIRES */

.hebergementethotelpopulaire
{
  margin: 25px 0 50px;
  display: flex;
  flex-direction: column;
}

.hebergementsetpop {
  text-align: center;
  padding-bottom: 5px;
}

/* PARAMETRES HEBERGEMENTS */

#Hebergement {
  width: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%); /*centré dans l'élément parent*/
  margin-bottom: 20px;
  border-radius: 0;
}

/* PARAMETRES HEBERGEMENTS POPULAIRES */

.pluspopulaires {
  width: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
}

footer {
  border-radius: 0;
}
}

@media (min-width: 1025px) and (max-width: 1600px) /* GRAND ECRAN */ {
.pluspopulaires {
  display: grid;
}
}
/* CSS Reservia pour appareils mobiles */

@media (min-width: 375px) and (max-width: 667px)

	/* CSS Général du site */
{
	h1
	{
		font-size: 1em;
	}

	h2
	{
		padding-top: 7em;
		font-size: 0.9em;
	}

	h3
	{
		font-size: 0.9em;
	}

	p
	{
		font-size: 0.8em;
	}

/* Section Zone de recherche */
     .largeurespace
     {
    width: 20px;
     }
	 .bordurenav {
		border-top: 1px solid transparent;
	   }
   .Hebergement
	{
		padding-top: 4em;
		border-top: none;
		
	}
	.Activitée
	{
		padding-top: 4em;
	}
	
    .search
	{
		margin-left: auto;
		margin-right: auto;
		margin-top: 10px;
		width: 100%;
	}

	.search h1, .search p
	{
		width: 95%;
		margin-left: 10px;
	}

	form
	{
		width: 95%;
		margin: auto;
	}

	input 
	{
		width: 65%;
		height: 50px;
		margin: auto;
		border-width: 2px 0 2px 0;
	}

	button
	{
		background-size: 30px;
		background-repeat: no-repeat;
		width: 50px;
		border-radius: 10px 10px 10px 10px;
		color: rgba(255,255,255,1);
		overflow: hidden;
		color: #0065FC;
		background-position: center;
		height: 50px;
		padding-top: 22px;
	}

	button:hover
	{
		background: #DEEBFF;
	    color: #000000;
	    background-size: 30px;
		background-repeat: no-repeat;
		background-position: center;
	}

	.fas.fa-map-marker-alt
	{
		height: 27px;
	}
	
	button span
	{
		display: none;
	}

	.fas.fa-map-marker-alt
	{
		padding-top: 20px;
		padding-bottom: 4px;
	}

/* Section Header */

	#signup
	{
	    margin-bottom: 5em;
		margin-right: 200px;
	}

	#logo
	{
		width: 10%;
		margin-right: auto;
		margin-bottom: 5em;
	}

	nav
	{
		
		
		height: 40px;
		
	
	}

	nav a 
	{
		margin: 0;
		padding-left: 40px;
		padding-right: 28px;
		border-bottom: 3px solid #F2F2F2;
		border-top: none;
	}

	li a
	{
		padding: 20px 0;
	}

	nav a:hover
	{
	color: #0065FC;
	border-bottom: 3px solid #0065FC;
	border-top: none;
	}

	.header
	{
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 0;
	}

	#search h1
	{
		width: 90%;
	}

 /* Section Mes filtres */

	#titre_filtres
	{
		margin-left: 10px;
	}

	#filtres
	{    display: flex;
		flex-direction: column;
		flex-wrap: unset;
		
		
	}

	#filtres
	{
		flex-direction: column;
		align-items: flex-start;
		margin-top: 10px;
	}

	.list_group 
	{
		margin-top: 10px;
		margin-right: 0;
		margin-left: 0;
		border: 3px solid #F2F2F2;
	}

	.list_group li:hover
	{
		background: #DEEBFF;
		color: #0065FC;
	}

	.list_group .fas:hover
	{
		color: black;
	}

	#mes_filtres ul
	{
		margin-left: -34px;
	}

	#filtres p
	{
		margin-left: 10px;
	}

      /* HEBERGEMENTS ET POPULAIRES */

      .hebergementethotelpopulaire
      {
		  
		display: flex;
		flex-direction: column;
		
		
		
	  }
	 
	  /*  HEBERGEMENTS */
	  #Hebergement
	   {
		width: 100%;
		background-color: white;
		order: 2;
		width: 100%;
		margin: 0%;
		padding: 0;
	  }
	 
	  .hebergementmarseille {
		display: flex;
		flex-direction: column;
	  }
	 
	  .hotel {
		width: 95%;
		height: 210px;
		font-size: 14px;
	  }
	 
	  .hotelpop {
		width: 95%;
		padding: 5px;
		margin: 8px;
		font-size: 14px;
	  }
	 
	  /* PARAMETRES HEBERGEMENTS POPULAIRES */
	 
	  .pluspopulaires {
	  width: 100%;
		margin: 0;
		padding: 0;
		order: 1;
		display: flex;
		flex-direction: column;
		  }
	 
	  /* PARAMETRES ACTIVITES */
	 
	  .containerActivites {
		display: grid;
		height: auto;
		margin-bottom: 25px;
		justify-content: normal;
		-moz-margin-start: -60px;
	  }
	 
	  .blocActivite {
		width: auto;
	  }
	 
	  .Activite img {
		width: 100%;
		height: 100px;
	  }
	 
	  .Activite {
		margin-bottom: 30%;
		height: 70px;
		-moz-margin-start: 62px;
	  }
	 
	  .nomactivite {
		padding: 8px 0px 5px 20px;
		border-radius: 0 0 1.25rem 1.25rem;
		border-color: transparent;
		box-shadow: 0 5px 16px #0000002e;
		margin-top: -12px;
	  }
	 
	  /* FOOTER*/
	 
	  .Footer {
		display: flex;
		flex-direction: column;
	  }
	 
	  .interieurFooter {
		width: auto;
	  }
	}	  

	  		  
