/* CSS général */

@media (min-width: 1121px) and (max-width: 1600px) /* Grand ecran*/
{
.pluspopulaires
 {
  display: flex;
  flex-direction:column;
  flex-wrap: wrap;
 }
}
/* responsive Reservia pour tablette */

@media (min-width: 897px) and (max-width: 1122px)
{

/*section HEADER*/

.largeurespace
{
    width:40%;
}

/* MAIN corps de la page */	
/* hebergement et populaire  */

.hebergementethotelpopulaire
{
  margin: 25px 0 50px;
  display: flex;
  flex-direction: column;
}

.hebergementsetpop {
  text-align: center;
  padding-bottom: 10px;
}

/*SECTION corp de la page partie hebergement*/

#Hebergement
 {
  width: 100%;
  position: relative;
  right: 4.5%;
  margin-bottom: 20px;
 }
.etoilespop
{
	margin:87px;
}
.etoilespop1
{
	margin:85px;
}
.etoilespop2
{
	margin:86px;
}
/*SECTION corp de la page partie hebergement populaire */

.pluspopulaires {
  width: 100%;
  position: relative;
  right:4.5%;
  display: flex;
}
/* fin Main*/
/*FOOTER -pied de la page*/
footer {
  border-radius: 0;
}
}

/* CSS Reservia pour appareils mobiles */

@media (min-width: 300px) and (max-width: 898px)
{
	/*parametres generaux*/

	h1
	{
		font-size: 1em;
	}

	h2
	{
		
		font-size: 1em;
	}

	h3
	{
		font-size: 0.9em;
	}

	p
	{
		font-size: 0.8em;
	}

	
/*section HEADER -entete de la page-  */
    /*le menu fait partie de l'entete logo et navigateur*/

	.largeurespace
	{
	width: 250px;
 }
 
 .Hebergement
 {
	padding-top: 4em;
	flex: none;
	border-bottom: #0065fc 2px solid;
	margin-left: 10em;
	height: 20.5px;
	
 } 
 .sizenav
 {
  width: 150px;

 }
 .bordurenav:hover 
 {
	 border-top-color: transparent;
	 border-bottom-color:#0065fc;
	
 }
 .bordurenav:hover > a 
   {
	 color: #0065fc;
   }
 
 .Activitee 
 {
	padding-top: 4em;
	flex: none;
    border-bottom: #f2f2f2 2px solid;
	height: 21px;
	
 }
 input 
 {
	width: 50%;
	height: 40px;
	margin: auto;
	border-width: 1px 0 1px 0;
 }

 .fas.fa-map-marker-alt
 {
	height: 15px;
 } 

 .fas.fa-map-marker-alt
 {
	padding-top: 1px;
	padding-bottom: 4px;
 }

   #sinscrire
   {
	flex: none;
	padding-bottom: 5em;
	margin-right:360px ;
	width: 0%;
	flex:none
	}
 /*section HEADER*/
     /* formulaire de recherche */

	.formulaire h2
	{
		font-size: 1.4em;
		font-weight:bold;
		text-align: justify;
	}
	.formulaire p
	 {
      font-size: 1em;
	}
	.infotext
	{
		font-size: 1em;
	}
	#logo
	{
		
		margin-bottom: 5em;
		
	
	}

	 nav a:hover
	{
	color: #0065FC;
	border-bottom: 3px solid #0065FC;
	border-top: none;
	}

	.header
	{
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 0;
	}

	#search h1
	{
		width: 90%;
	}
	.boutonderecherche
	{
		display: none;
	}
	  .loupelogo :hover
	  {
		  cursor: pointer;
	  }
	 
	  nav 
	  {
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 100%;
		margin-top: 2px;
	  }
	
	     
	  /* parametres d'affichage du bouton loupe */
	
	 .loupelogo i {
		display: inline;
		color: white;
		background-color: #0065fc;
		padding: 18px;
		border-radius: 18px;
		position: relative;
		right: 11px;
	  }
	
	 
	
	   /*formulaires des filtres*/
	
	  .filtres {
		display: flex;
		flex-direction:column;
		flex-wrap: wrap;
		align-content: space-between;
		justify-content: space-between;
	  }
	
	  .titrefiltres {
		margin-bottom: 10px;
	  }
	
	  .barreFiltre {
		width: 50%;
		margin-bottom: 10px;
	  }
	
	  .position {
		position: absolute;
		margin: 9% 0px 100px 55%;
		width: 33%;
	  }

/* MAIN corps de la page */
    /*hebergement et populaires*/

      .hebergementethotelpopulaire
      {
		  
		display: flex;
		flex-direction: column;
		margin-right: inherit;
		}
	 
	  /*SECTION corp de la page partie hebergement*/
	  #Hebergement
	  {
	   width: 100%;
	   position: relative;
	   right: 9%;
	   margin-bottom: 10px;
	   border-radius: 0;
	   background-color: white;
		order: 2;
	 }
	  
	  .hebergementmarseille {
		
		width:105%;
		height: 100%;		

	  }
	 
	  .hotel {
		width: 100%;
		height: 170px;
		font-size: 14px;
		
		
	  }
	  .hotel img
	  {
		width: 100%;
		height: 60%;
		
		
	  } 
	  
	 
	/*SECTION corp de la page partie hebergement populaire */
	  
	.pluspopulaires
	{
		width:90%;
        position: relative;
		border-radius: 0;
		display: flex;
		order: 1
	
	}	
	.fa-chart-line {
	 position: relative;
	 
				
	}
			  
	.etoilespop
	{
      margin: 56px 10px 60px 60px;
	}
	.etoilespop1
     {
     margin: 59px 10px 60px 60px;
      } 
      .etoilespop2
     {
	   margin: 60px 10px 60px 60px;
     }
	 
/* FIN MAIN*/
     /* SECTION fin page "Activités à Marseille"*/
	 #activitesmarseille
	 {
		margin-top:-2em;
	 }
	 
	  .containerActivites {
		display:flex;
		flex-direction: column;
		height: auto;
		margin: 0;
		justify-content:center;
			
	  }
	 
	  .blocActivite {
		width: 100%;
	  }
	 
	  .Activite img {
		width: 100%;
		height: 120px;
		
	  }
	 
	  .Activite {
		margin-bottom: 5%;
		height: 170px;
		
	  }
	  .nomactivite {
		padding: 0 0 20px 20px;
	
	  
	  }
	  .Activite h3 {
		 margin-left: 0.5em;
		 text-align: left;
		
	  }
	 
	  /* FOOTER -pied de page */
	 
	  .Footer {
		display: flex;
		flex-direction: column;
		margin-top: 10px;
		
	  }
	  .interieurFooter {
		width: auto;
	  }
	 
	
}	  

	  		

