/*differents felx et commandes sur tout le corps du projet */
*
{
    font-family: "Raleway";
}
.felxcenter
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexaround
{
    display: flex;
    justify-content:space-around;
    align-items:center;
}
.flexbetween
{
    display:flex;
    justify-content:space-between;
    align-items:center;
}  
.colum
{
  display: flex;
  flex-direction: column;
}

.surligne
{
  text-decoration: none;
}
 .colorBleu 
 {
 color: #0065fc;
 }

.colorBleuClair {
    color: #DEEBFF;
}
.colorGris {
  color: #F2F2F2;
}
.backBleu {
  background-color: #0065FC;
}
.backBleuClair {
  background-color: #DEEBFF;
}
.backGris 
{
 background-color: #F2F2F2;
}

.colorBlack
 {
   color:black;
 }
  .marge
 {
  margin-left: 5%;
  margin-right: 10px;
  margin-top: 0%;
  margin-bottom: 0%;
 }
 /*serction HEADER -entete de la page-  */
 /*le menu fait partie de l'entete logo et navigateur*/


.largeurespace
{
    width:45%;
}
.logosize
{
width: 120px;
height: 50px;
}
.colornav13
{
color:#0065FC;
}
.colornav2
{
    color:black;
}
.sizenav
{
width: 190px;
height: 99px ;
}

.bordurenav {
   border-top: 1px solid transparent;
  }
.bordurenav:hover 
{
    border-top: 3px solid #0065FC;
    cursor: pointer;
}
.bordurenav:hover > a 
  {
    color: #0065FC;
}
/*section HEADER*/
/* formulaire de recherche */

.logosearch 
{
    display: inline-flex;
    align-items: center;
}
  
  
  .iconemap {
    font-size: 25px;
    background-color: #F2F2F2;
    border-radius: 1rem 0 0 1rem;
    padding: 10px 10px;
    width: 30px;
    text-align: center;
  }
  
  input {
    padding: 5px;
    font-weight: bold;
    font-family: "Raleway", "Sans serif";
    border-right: none;
    border-left: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    padding: 0 1.5em;
    width: 20px;
    height: 20px;
    font-size: 15px;
  }
  input[type=text]
  {
    width: 150px;
    height: 45px;
    border: 1px solid #F2F2F2;
    border-radius: 0px;
  }  
  .boutonderecherche {
    border-radius: 0px 18px 18px 0;
    padding: 15px;
    background-color: #0065FC;
    color: #FFFFFF;
    right: 43px;
  }
  
  .loupelogo i {
    display: none;
  }
  /*formulaires des filtres*/
  .titrefiltres 
  {
  margin-top: 50px;
  font-size: 1.3em;
  margin: 0 40px 0 0;
}

.titre {
  font-family: "Raleway", "Sans serif";
  font-weight: bold;
  padding-right: 1.5em;
  padding-left: 0.5em;
  cursor: pointer;
}

.barreFiltre:hover {
  background: #0065FC;
  color: #FFFFFF;
  cursor: pointer;
}

.barreFiltre {
  display: flex;
  align-items: center;
  width: auto;
  margin-right: 2em;
  border: 2px solid #D9D9D9;
  border-radius: 2em;
  font-weight: bold;
}

.filtres {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom:20px ;

}

.imagefiltre {
  padding: 15px 15px;
  border-radius: 50%;
  background-color: #D9D9D9;
  cursor: pointer;
  
}
.fa-map-marker-alt {
  color: black;
  margin-left: 10%;

}

/* la ligne information */

.info
{ 
  display: flex;
}

.fa-info {
  text-align: center;
  border-radius: 100%;
  height: 20px;
  width: 20px;
  border: solid 1px #D9D9D9;
  padding: 10px;
  color: #0065FC;
}

.infotext {
  padding-left: 6px;
}
.fa-money-bill-wave 
{
  color: #0065FC;
}
.fa-child
{
  color: #0065FC;
}
.fa-heart 
{
  color: #0065FC;
}
 .fa-dog
{
    color: #0065FC;
}
 
/* MAIN corps de la page */
/*hebergement et populaires*/

.hebergementethotelpopulaire
 {
  display: flex;
  margin: 25px 0 50px;
}

/*SECTION corp de la page partie hebergement*/

#Hebergement {
  background-color: #F2F2F2;
  border-radius: 15px;
  width: 62%;
  padding: 20px;
  margin: 0 25px 0 0;
}

.hebergementmarseille {
  display: flex;
  flex-wrap: wrap;
}

.hotel {
  width: 30%;
  background: white;
  border-radius: 20px;
  padding: 5px;
  margin: 0 5px 20px 5px;
  box-shadow: 0 5px 16px #0000002e;
}

.hotel:hover /* L'image est zoomé au survol */
{
 cursor: pointer;
  transform: scale(1.05);
}

.hotel img {
  background-color: white;
  border-radius: 15px 15px 0px 0px;
  transition-duration: 0.1s;
  cursor: pointer;
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.hotel p {
  margin: 5px 10px;
  font-weight: 100;
}

.hotel h3 {
  margin: 3px 10px;
}

.etoiles {
  margin: 3px 10px;
}

.main {
  display: flex;
}

.afficherplus {
  color: black;
  padding-left: 8px;
}

/*SECTION corp de la page partie hebergement populaire */

.pluspopulaires {
  background-color: #F2F2F2;
  border-radius: 15px;
  width: 32%;
  padding: 20px;
  display: flex;
}

.hebergementspop {
  position: relative;
}

.hotelpop {
 
  background: white;
  border-radius: 20px;
  padding: 5px 5px 0px 5px;
  margin: 0px 0px 12px 0px;
  height: 145px;
  box-shadow: 0 5px 16px #0000002e;
  }

.hotelpop:hover
 {
  cursor: pointer;
  transform: scale(1.05);
}

.imagepop {
  background-color: white;
  cursor: pointer;
  float: left;
  width: 45%;
  height: 92%;
  border-radius: 15px 0 0 15px;
  margin: 2px 10px 2px 0px;
  object-fit: cover;
}

.fa-chart-line {
  

  position: relative;
  right: -8em;
  
  color: black;
}

.grey {
  color:#d3d3d3;
}

.hotelpop h3 {
  margin: 0px;
}

.hotelpop p {
  margin: 7px;
  font-weight: 100;
}

.etoilespop {
  margin: 70px;
}
.etoilespop1
{
  margin: 48px;
}
.etoilespop2
{
  margin: 69px;
}
/* FIN MAIN*/
/* SECTION fin page "Activités à Marseille"*/

#Activite {
  width: 80%;
}

.containerActivites {
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
 height: 490px;
 align-content: space-between;
 justify-content: space-between;
  margin-top: 40px;
 margin-bottom: 10px;
 
}

.blocActivite h3
{
  text-align: center;
}
.blocActivite {
  width: 23%;
 
}

.Activite {
  background-color: white;
  border-radius: 1.25rem;
  box-shadow: 0 0 16px #0000002e;
}

.Activite:hover {
  /* L'image est zoomé au survol */
    cursor: pointer;
    transform: scale(1.05);
}

.hebergementsetpop {
  color: black;
  
}

.Activite img {
  width: 100%;
  object-fit: cover;
  border-radius: 1.25rem 1.25rem 0 0;
}

.activitepop1ou4 {
  height: 430px;
  width: 260px;
}

.activitepop2 {
  height: 210px;
}

.activitepop3 {
  height: 120px;
}

.activitepop5 {
  height: 160px;
}

.activitepop6 {
  height: 160px;
}

.nomactivite {
  padding: 0 0px 5px 20px;
  

}

.Activite2 {
  margin: 0px 0px 61px;
}

.Activite5 {
  margin: 0px 0px 92px;
}

/* FOOTER -pied de page */

footer {
  background-color: #f2f2f2;
  margin-top:15px
}

.Footer {
  display: flex;
  max-width: 100%;
  padding: 0px 30px;
  margin-bottom: 3px;
}
.interieurFooter {
  width: 40%;
}
.footerTitre {
  display: block;
  font-size: 1.3em;
  font-weight: bold;
}

.lignesFooter {
  color: black;
  display: block;
  margin: 15px 0;
  font-weight: 500;
}

